.footer {
    width: 100vw;
    background-color: rgba(0,0,0, .8);
    color: var(--color-primary-dark);
    font-size: var(--font-xsmall);

    
    & > p {
        text-align: center;
        min-height: 6vh;

        display: flex;
    align-items: center;
    justify-content: center;
    }
    
}