/*BREAKPOINTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --box-shadow: .2rem .2rem .5rem var(--color-primary-dark);
  --color-primary: #dddddd;
  --color-primary-light: #eeeeee;
  --color-primary-dark: #afabab;
  --color-grey-dark: #7a7a7a;
  --color-secondary: mediumSeaGreen;
  --padding-medium: 1.6rem 2.4rem;
  --padding-reset: 1.2rem 1.4rem;
  --padding-small: 1.2rem;
  --padding-xsmall: .8rem 1.2rem;
  --padding-nav: 2rem 1.2rem;
  --font-small: 1.8rem;
  --font-xsmall: 1.4rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000000;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: mediumSeaGreen;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
}

.active {
  color: green;
}

.todo {
  box-shadow: var(--box-shadow);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  width: 90vw;
  min-height: 65vh;
  max-width: 70rem;
  padding: 2vh 2vw;
  background-color: var(--color-grey-dark);
}
.todo__list[data-list] {
  margin-bottom: 4vh;
}
.todo__item {
  margin: 0 auto;
  background-color: var(--color-primary-light);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo__item:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-dark);
}
.todo__item[data-id*=input] {
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: stretch;
  padding: var(--padding-small) 0;
}
.todo__item--none {
  min-height: 8vh;
}
.todo__input {
  min-width: 25.8rem;
  width: 80%;
  align-self: center;
  min-height: 8vh;
  padding: var(--padding-small);
  font-size: var(--font-small);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}
.todo__input:focus {
  border: 1px solid var(--color-secondary);
}
.todo__index {
  text-align: center;
  align-self: stretch;
  flex: 7% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo__complete {
  flex: 7% 0 0;
  align-self: stretch;
  border-right: 1px solid var(--color-grey-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo__content {
  flex-basis: 60%;
  flex-grow: 1;
  background-color: var(--color-primary);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: var(--padding-small);
}
.todo__delete {
  grid-column: -2/-1;
  align-self: stretch;
  border: none;
  cursor: pointer;
  flex-basis: 10%;
  text-transform: capitalize;
  background-color: var(--color-primary-light);
}
.todo__required {
  color: red;
  padding-left: 10%;
}
.todo__reset {
  background-color: var(--color-primary-light);
  text-transform: capitalize;
  display: block;
  padding: 2vmin;
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: 0.5s ease all;
}
.todo__reset:hover {
  transform: perspective(15rem) translateZ(0.7rem);
}

.nav__list {
  margin-right: 5vw;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.nav__item > .active {
  color: var(--color-grey-dark);
}
.nav__link {
  text-decoration: none;
  color: var(--color-primary);
  display: block;
  padding: var(--padding-xsmall);
  transition: 0.4s ease all;
}
.nav__link:hover {
  color: var(--color-grey-dark);
}

.home,
.about,
.contact,
.blog {
  text-align: center;
}
.home__heading,
.about__heading,
.contact__heading,
.blog__heading {
  color: var(--color-primary);
  line-height: 1.6;
}
.home__rotate,
.about__rotate,
.contact__rotate,
.blog__rotate {
  width: 7rem;
  height: 7rem;
  display: block;
  border: 0.7rem solid var(--color-primary);
  border-right: dotted;
  border-radius: 50%;
  animation: rotate-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home__relax,
.about__relax,
.contact__relax,
.blog__relax {
  min-height: 60vh;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home__create-todo {
  text-transform: capitalize;
  line-height: 1.6;
}

.modal__container {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: 0.1s ease width;
}

.reset__modal {
  min-width: 38rem;
  max-width: 50vw;
  min-height: 30rem;
  max-height: 40rem;
  transition-delay: 0.3s;
  color: var(--color-primary);
  margin: 25vh auto;
  background-color: rgba(30, 136, 70, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reset__modal--yes, .reset__modal--no {
  text-transform: capitalize;
  border: none;
  padding: var(--padding-medium);
}
@media only screen and (max-width: 37.5em) {
  .reset__modal--yes, .reset__modal--no {
    padding: var(--padding-reset);
  }
}
.reset__modal--yes {
  margin-right: 7vw;
}
.footer {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-primary-dark);
  font-size: var(--font-xsmall);
}
.footer > p {
  text-align: center;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
